  *{
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            color: #6c757d;
        }
        .leftParagraph{
            margin-left: 55px;
        }
        .space-top{
            margin-top: 10px;
        }
        .float-right{
            float:right ;
        }
        /* Linked Styles */
        body {
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            background: #f5f5f5;
            -webkit-text-size-adjust: none
        }
        a {
            color: #002a3a;
            text-decoration: none
        }
        p {
            padding: 0;
            margin: 0
        }
        img {
            -ms-interpolation-mode: bicubic;
            /* Allow smoother rendering of resized image in Internet Explorer */
        }
        .mcnPreviewText {
            display: none !important;
        }
        .header-text a {
            color: #939c9e;
            text-decoration: underline
        }
        .btn-1 a,
        .intro-title-1 a,
        .intro-title-3 a,
        .intro-title-4 a {
            color: #ffffff;
            text-decoration: none
        }

        /* Mobile styles */
        @media only screen and (max-device-width: 414px),
        only screen and (max-width: 500px) {

            .leftParagraph{
                margin-left: 20px;
            }
            
            .mobile-shell {
                width: 414px !important;
                min-width: 414px !important;
            }

            .m-center {
                text-align: center !important;
            }

            .center {
                margin: 0 auto !important;
            }

            .td {
                width: 100% !important;
                min-width: 100% !important;
            }

            .m-br-15 {
                height: 15px !important;
            }

            .m-td,
            .hidden,
            .m-hide {
                display: none !important;
                width: 0 !important;
                height: 0 !important;
                font-size: 0 !important;
                line-height: 0 !important;
                min-height: 0 !important;
            }

            .m-block {
                display: block !important;
            }

            .hauto {
                height: auto !important;
            }

            .mw-30 img {
                width: 30px !important;
                height: auto !important;
            }

            .mw-200 img {
                width: 100% !important;
                height: auto !important;
            }

            .fluid-img img {
                width: 100% !important;
                max-width: 100% !important;
                height: auto !important;
            }

            .column {
                float: left !important;
                width: 100% !important;
                display: block !important;
            }

            .content-spacing {
                width: 15px !important;
            }

            /* Padding */
            .p-0 {
                padding: 0 !important;
            }

            .p-15 {
                padding: 15px !important;
            }

            .pb-5 {
                padding-bottom: 5px !important;
            }

            .pb-10 {
                padding-bottom: 10px !important;
            }

            .pb-15 {
                padding-bottom: 15px !important;
            }

            .pb-20 {
                padding-bottom: 20px !important;
            }

            .pb-25 {
                padding-bottom: 25px !important;
            }

            .pb-30 {
                padding-bottom: 30px !important;
            }

            .p0-10 {
                padding: 0 10px !important;
            }

            .p0-15 {
                padding: 0 15px !important;
            }

            .p20-15 {
                padding: 20px 15px !important;
            }

            .p25-15 {
                padding: 25px 15px !important;
            }

            .p30-15 {
                padding: 30px 15px !important;
            }

            /*   .p35-15 { padding: 35px 15px !important; }*/

            .p0-15-15 {
                padding: 0 15px 0px !important;
            }

            .p0-15-20 {
                padding: 0 15px 20px !important;
            }

            .p0-15-30 {
                padding: 0 15px 30px !important;
            }

            .p25-0-40 {
                padding: 15px 0 30px !important;
            }

            /* Intro */
            .headline {
                font-size: 32px !important;
                line-height: 39px !important;
                padding: 50px 51px 15px 51px !important;
            }

            .hero-title-1 {
                font-size: 18px !important;
                line-height: 22px !important;
                padding: 0px 51px 30px 51px !important;
            }

            .hero-title-2 {
                font-size: 36px !important;
                line-height: 42px !important;
                padding: 0px 25px 0px 25px !important;
            }

            .hero-title-3 {

                font-size: 34px !important;
                line-height: 27px !important;
            }

            .intro-title-1 {
                font-size: 32px !important;
                line-height: 34px !important;
                padding: 46px 53px 15px 53px !important;
                letter-spacing: 0.32px !important;
            }

            .intro-title-2 {
                font-size: 18px !important;
                line-height: 22px !important;
                padding: 0px 53px 0px 53px !important;
            }

            .intro-title-3 {
                font-size: 20px !important;
                line-height: 24px !important;
                padding-bottom: 30px !important;
            }

            .intro-title-4 {
                font-size: 24px !important;
                line-height: 29px !important;
                padding: 50px 53px 15px 53px !important;
                letter-spacing: 1.2px !important;
            }

            .disclaimer {
                font-size: 18px !important;
                line-height: 22px !important;
                padding: 15px 53px 15px !important;
            }

            .disclaimer2 {
                font-size: 18px !important;
                line-height: 22px !important;
                padding: 40px 51px 40px !important;
            }

            .intro-title-5 {
                font-size: 20px !important;
                line-height: 24px !important;
                padding: 0px 53px 40px 53px !important;
            }

            .intro-title-6 {
                font-size: 14px !important;
                line-height: 15px !important;
                padding: 7px 41px !important;
            }

            /*Standard*/
            .no-mobile {
                text-indent: -99999em;
                display: none !important;
            }

            .mobile-only {
                text-indent: 0 !important;
                display: block !important;
                /*width: 480px !important;*/
                width: 100% !important;
                height: auto !important;
                visibility: visible !important;
                overflow: visible !important;
                max-height: none !important;
            }

            .mobile-headline {
                padding: 45px 50px 20px 50px !important;
                font-size: 24px !important;
                line-height: 29px !important;
            }

            /* Titles */
            .title-1 {
                font-size: 15px !important;
                line-height: 19px !important;
            }

            /* Button */
            .btn-1 {
                padding: 0 !important;
            }

            .btn-1 a {
                display: inline-block;
                padding: 6px 22px !important;
            }

            /* Table */
            .table-text-1 {
                font-size: 14px !important;
                line-height: 18px !important;
            }

            .hide-for-desktop {
                display: block !important;
                max-width: 100% !important;
                max-height: 100% !important;
                visibility: visible !important;
                opacity: 1 !important;
                width: auto !important;
                height: auto !important;
            }

            .hero-mobile {
                display: block !important;
            }

            .table-title-c {
                padding: 24px !important;
            }

        }

        @media screen yahoo and (max-width:480px) {
            .ForYahoo {
                max-height: 0 !important;
                display: block !important;
                mso-hide: all !important;
                overflow: visible !important;
                font-size: 0 !important;
                padding-bottom: 50px !important;
            }

            .notForYahoo {
                max-height: 0 !important;
                display: none !important;
                mso-hide: all !important;
                overflow: hidden !important;
                font-size: 0 !important;
            }
        }

        /* 

        imagem 01 - https://i.ibb.co/3hTp2WB/01.png
        imagem 02 - https://i.ibb.co/GtHhYXk/02.png
        imagem 03 - https://i.ibb.co/dmkYNZN/03.png
        imagem 04 - https://i.ibb.co/drtyFjN/04.png

        imagem 02 - https://i.ibb.co/QDqcJMx/2-2.png
        imagem 02 - https://i.ibb.co/b3MjH1S/2-3.png
        imagem 02 - https://i.ibb.co/X4R4T46/2-4.png
        imagem 02 - https://i.ibb.co/nfvVj4c/2-5.png
        imagem 02 - https://i.ibb.co/31jcKj5/2-12.png
        
        */
